## 27/05/21
### conditional statements

In [1]:
#If statements
n1=10
n2=20
if n1>n2:
    print("n1 is greater than n2")          #if space will not be there in the begining it will show an error.
if n2>n1:
    print("n2 is greater than n1")

n2 is greater than n1

In [2]:
#If...else statements
n1=30
n2=20
if n1>n2:
    print("n1 is greater than n2")
else:
    print("n2 is greater than n1")

n1 is greater than n2

In [3]:
#If...elif...else statements
n1=35
n2=35
if n1>n2:
    print("n1 is greater than n2")
elif n1==n2:
    print("n1 and n2 are equal")
else:
    print("n2 is greater than n1")

n1 and n2 are equal

In [5]:
#nested if...else
n1=-10
if n1>=0:
    if n1==0:
        print("n1 is zero")
    else:
        print("n1 is positive")
else:
    print("n2 is negative")

n2 is negative

### Looping statements

In [6]:
#While loop
for i in 'hello':
    print("Value is",i)

l1=[10,20,'hello']
print(l1)
for i in l1:
    print("value is",i)

Value is h
Value is e
Value is l
Value is l
Value is o
[10, 20, 'hello']
value is 10
value is 20
value is hello

In [7]:
#Range function
for i in range(10):
    print("value is ",i)

for j in range(1,5):
    print("value is ",j)
    #increment by 2
for k in range(1,10,2):
    print("value is ",k)

value is  0
value is  1
value is  2
value is  3
value is  4
value is  5
value is  6
value is  7
value is  8
value is  9
value is  1
value is  2
value is  3
value is  4
value is  1
value is  3
value is  5
value is  7
value is  9

In [8]:
#get value from list
l1=[10,20,'hello']
print(l1)
for i in l1:
    print("value is ",i)

for j in range(len(l1)):
    print("value is ",l1[j])

[10, 20, 'hello']
value is  10
value is  20
value is  hello
value is  10
value is  20
value is  hello

In [9]:
#Loop with Else
l1=[10,20,'hello']
print(l1)
for i in l1:
    print("value is ",i)

for j in range(len(l1)):
    print("value is ",l1[j])

else:
    print("loop ended")

[10, 20, 'hello']
value is  10
value is  20
value is  hello
value is  10
value is  20
value is  hello
loop ended

### Break & Continue statements

In [4]:
    #Print 0,1,2,3,4
i=0
while i<10:
    print("value is ",i)
    i+=1
    if i>=5:
        break

0
1
2
3
Loop exited

In [15]:
#Print only odd numbers.
for x in range(10):
    if x%2==0:
        continue
    print(x)

1
3
5
7
9

### Pass Statement

In [17]:
#it is used when we don't want to keep else block empty.

i = {10,20,30,40}
for val in i:
    pass