# 1. Calculate Average of 5 numbers.

In [2]:
input_1_1 = int(input('Insert First Number: '))
input_1_2 = int(input('Insert Second Number: '))
input_1_3 = int(input('Insert Third Number: '))
input_1_4 = int(input('Insert Fourth Number: '))
input_1_5 = int(input('Insert Fifth Number: '))
Sum=input_1_1+input_1_2+input_1_3+input_1_4+input_1_5
Average=Sum/5
print("Sum is ",Sum)
print("Average is ",Average)

Insert First Number: 10
Insert Second Number: 20
Insert Third Number: 30
Insert Fourth Number: 40
Insert Fifth Number: 50
Sum is  150
Average is  30.0

# 2.Check whether number is even or odd.

In [4]:
input_2_1 = int(input('Insert number: '))
if input_2_1%2==0:
    print("number is even")
else:
    print("number is odd")

Insert number: 25
number is odd

# 3. Take a year and check whether it is leap year or not.

In [11]:
input_3_1 = int(input('Insert year: '))
if (( input_3_1%400 == 0)or (( input_3_1%4 == 0 ) and ( input_3_1%100 != 0))):
    print("%d is a Leap Year" %input_3_1)
else:
    print("%d is Not the Leap Year" %input_3_1)

Insert year: 2016
2016 is a Leap Year

# 4. Take a number and check whether it is zero, positive or negative.

In [12]:
input_4_1 = int(input('Insert number: '))
if input_4_1>=0:
    if input_4_1==0:
        print("number is zero")
    else:
        print("number is positive")
else:
    print("number is negative")

Insert number: -10
number is negative

# 5. Take 2 numbers and display greatest number. (Also check equal number condition)

In [13]:
input_5_1 = int(input('Insert First Number: '))
input_5_2 = int(input('Insert Second Number: '))
if input_5_1>input_5_2:
    print("number1 is greater than number2")
elif input_5_1==input_5_2:
    print("number1 and number2 are equal")
else:
    print("number2 is greater than number1")

Insert First Number: 10
Insert Second Number: 20
number2 is greater than number1

# 6. Take a number and find factorial of that number.

In [17]:
input_6_1=int(input("Enter number:"))
fact=1
while(input_6_1>0):
    fact=fact*input_6_1
    input_6_1=input_6_1-1
print("Factorial of the number is: ",fact)

Enter number:4
Factorial of the number is:  24

# 7. Write a program to swap 2 numbers using third variable.

In [19]:
input_7_1 = int(input("please give first number a: "))
input_7_2 = int(input("please give second number b: "))
tempvar=input_7_1
input_7_1=input_7_2
input_7_2=tempvar
print("After swapping")
print("value of a is : ",input_7_1);
print("value of b is : ",input_7_2);

please give first number a: 10
please give second number b: 20
After swapping
value of a is :  20
value of b is :  10

# 8. Take 2 numbers and find smallest number.

In [20]:
input_8_1 = int(input('Insert First Number: '))
input_8_2 = int(input('Insert Second Number: '))

if input_8_1== input_8_2:
    print('Both value is same')
elif input_8_1<input_8_2:
    print(f'{input_8_1} is the smallest Number')
else:
    print(f'{input_8_1} is the smallest Number')

Insert First Number: 20
Insert Second Number: 30
20 is the smallest Number

# 9.	Take a number check if a number is less than 100 or not. If it is less than 100 then check if it is odd or even

In [21]:
input_9 = int(input('Insert a number: '))

if input_9 < 100:
    print(f'{input_9} is less than 100')
else:
    print(f'{input_9} is greater than 100')
    
if input_9 < 100:
    if input_9 % 2 == 0:
        print(f"{input_9} is even number")
    else:
        print(f"{input_9} is odd number")

Insert a number: 15
15 is less than 100
15 is odd number

# 10.	Take a number to print the square of a number if it is less than 10.

In [22]:
input_10 = int(input('Insert a number: '))
square = input_10*input_10
if input_10 < 10:
    print(f'Square of {input_10} is {square}')
else:
    print(f'{input_10} is greater than 10')

Insert a number: 9
Square of 9 is 81

# 11.Take a number and check whether it is zero, positive or negative using nested IF…ELSE statement .

In [24]:
input_11_1=int(input('Insert a number: '))
if input_11_1>=0:
    if input_11_1==0:
        print("number is zero")
    else:
        print("number is positive")
else:
    print("number is negative")

Insert a number: 20
number is positive

# 12.  Take 3 numbers and find greatest number using nested IF….ELSE statement.

In [25]:
input_12_1 = int(input('Insert First Number: '))
input_12_2 = int(input('Insert Second Number: '))
input_12_3 = int(input('Insert Third Number: '))

if (input_12_1 > input_12_2 ) and (input_12_1 > input_12_3):
   largest = input_12_1
elif (input_12_2 > input_12_1) and (input_12_2 > input_12_3):
   largest = input_12_2
else:
   largest = input_12_3
 
print("The largest number is",largest)

Insert First Number: 10
Insert Second Number: 15
Insert Third Number: 7
The largest number is 15

# 13.	Take 3 numbers and find smallest number using logical operator.

In [26]:
input_13_1 = int(input('Insert First Number: '))
input_13_2 = int(input('Insert Second Number: '))
input_13_3 = int(input('Insert Third Number: '))

if(input_13_1<=input_13_2 and input_13_1<=input_13_3):   #Compare the first number with the second and third number
  print(input_13_1," is the smallest")
elif(input_13_2<=input_13_1 and input_13_2<=input_13_3):#Compare the second number with the first and third number
  print(input_13_2," is the smallest")
else:
    print(input_13_3," is the smallest")

Insert First Number: 10
Insert Second Number: 7
Insert Third Number: 15
7  is the smallest

# 14.  Write a program to swap 2 numbers without taking third variable.

In [30]:
input_14_1 = int(input('Insert First Number: '))
input_14_2 = int(input('Insert Second Number: '))

print ("Before swapping: ")
print("Value of x : ",input_14_1, " and y : ",input_14_2)

input_14_1, input_14_2 = input_14_2, input_14_1

print ("After swapping: ")
print("Value of x : ", input_14_1, " and y : ", input_14_2)

Insert First Number: 11
Insert Second Number: 22
Before swapping:
Value of x :  11  and y :  22
After swapping:
Value of x :  22  and y :  11

# 15.	Take starting number and ending number from the user and print following series.
# Starting number: 30 & Ending Number: 0 
# 30,27,24,18,15,12,9,6,3,0

In [36]:
input_15_1 = int(input('Starting Number: '))
input_15_2 = int(input('Ending Number: '))

for i in range(input_15_1,input_15_2-1,-1):
    if i%3==0:
        print(i)

Starting Number: 30
Ending Number: 0
30
27
24
21
18
15
12
9
6
3
0